// Define variables for your color scheme

// bootstrap colors:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// personal colors

// Titles & paragraphe colors
$dark-grey: #1D1D1D;
$middle-grey: #555555;
$light-grey: #898989;

$blue-hp: #52DBDB;


$light-blue: #F4FFFF;
$dark-blue: #24869B;

$dark-purple: #224295;
$dark-purple-hover: #172F6C;
$light-purple: #F5F7FF;




// dark-purple :

// light-purple

// dark-blue

// light-blue

// Dark-grey

// Middle-grey

// Light-grey


