// Define variables for your color scheme

// bootstrap colors:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// personal colors

// Titles & paragraphe colors
$dark-grey: #303030;
$middle-grey: #555555;
$light-grey: #898989;
$light-border: #E1E1E1;

$yellow-back: #FFF3CA;
$yellow-p: #956B00;
$blue-back: #D0F4FF;
$blue-p: #59777D;



$blue-hp: #52DBDB;


$light-blue: #F4FFFF;
$dark-blue: #24869B;



$dark-purple: #224295;
$dark-purple-hover: #172F6C;
$light-purple: #F5F7FF;
// $light-purple: #06BEE1;


$dark-red: #b30808;




// dark-purple :

// light-purple

// dark-blue

// light-blue

// Dark-grey

// Middle-grey

// Light-grey


