// Specific CSS for your home-page

.hp-cards {
  display: flex;
}

.hp-cards a {
  text-decoration: none;
}
.top-banner {
  height: 500px;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), asset-url("banner.jpg");
  background-size: cover;
  background-position: center;
}

.top-banner h1 {
	text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.top-banner p {
	text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.p-container {
  text-align: center;
  padding-top: 15vh;
  color: white;
}


.hp-categories {
  padding-top: 50px;
  background-color: white;
  height: 675px;
}

.hp-categories h2 {
  margin-bottom: 30px;
}

.top-banner p {
  color: white;
  font-size: 27px;
}

.top-banner .searchbar {
  // margin-left: 32vw;
  margin-top: 70px;
  margin-right: auto;
  margin-left: auto;
}

.numbers-banner {
  height: 190px;
  background-color: $light-blue;
  // background: linear-gradient(0.25turn, #83a4d4, #b6fbff);
}

.strenghs {
  display: flex;
  margin: 0 auto;
  height: 100%;
  width: 900px;
  padding: 28px;
  // align-items: center;
}

.numbers-banner h3 {
  color: $blue-hp;
  line-height: 1;
}

.numbers-banner p {
  padding-top: 15px;
}

.strengh {
  width: 200px;
  margin: 0px 40px;
  text-align: center;
}

.hp-card {
  text-align: center;
}


#title-card > h3 {
  color: white;
  font-size: 21px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
}

.button-div {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px;
}

#title-back-color {
	background-color: $blue-hp;
	border-radius: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

#h3-strengh {
  color:$dark-grey;
}
