// Import page-specific CSS files here.
@import "home";
@import "log-in";
@import "show";

h1 {
  font-size: 41px;
  color: white;
  font-weight: bold;
}

h2 {
  font-size: 27px;
  font-weight: bold;
  letter-spacing: 2px;
  color: $dark-grey;
}

h3 {
  font-size: 21px;
  font-weight: bold;
  color: $dark-grey;
}

p {
  font-size: 15px;
  font-weight: normal;
  color: $middle-grey;
}

#light-details {
  font-size: 15px;
  font-weight: normal;
  color: $light-grey;
}

// #label-font {
//   font-size: 15px;
//   font-weight: medium;
//   color: $dark-grey;
// }
