// Import page-specific CSS files here.
@import "home";

h1 {
  font-size: 45px;
  font-weight: bold;
}

h2 {
  font-size: 27px;
  font-weight: bold;
}

h3 {
  font-size: 21px;
  font-weight: bold;
}
