
.top-myactivities {
  margin-top: 20px;
  margin-bottom: 20px;
}

.chiffres-user-card {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 25px;
}

.chiffres-user {
  display: flex;
}

.nb-resa {
  width: 33%;
}

.chiffre-affaires {
  width: 33%;
}

.nb_avis {
  width: 33%;
}
