
.top-myactivities {
  margin-top: 20px;
  margin-bottom: 20px;
}

.chiffres-user-card {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  padding: 25px;
}

.chiffres-user {
  display: flex;
}

.nb-resa {
  width: 33%;
}

.chiffre-affaires {
  width: 33%;
}

.nb_avis {
  width: 33%;
}

#see-edit-delete {
  padding-top: 100px;
}

#btn-dark-blue {
  display: inline-block;
  border: 1px solid $dark-blue;
  border-radius: 5px;
  padding: 5px 25px;
  position: absolute;
  bottom: 20px; right: 20px;
  color: $dark-blue;
  text-decoration: none;
  font-weight: bold;
}

#btn-dark-blue:hover {
  color: white;
  background-color: $dark-blue;
}

#myTab {
  margin-bottom : 40px;
}

#lr-card-myactivities {
  margin-top: 30px;
}

.reservation {
  margin-top: 30px;
}

