.na-container {
  // position: absolute;
  // width: 600px;
  // margin: 170px 630px;
  margin-top: 20px;
  margin: auto;
  width: 60%;
  height: 80vh;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0 0 30px rgba(0,0,0,0.15);
}

.details-form {
  display: flex;
  justify-content: space-around;
}

.form-control {
  border-radius: 6px;
}

.details-form .form-control {
  flex-grow: 1;
}

.activity_schedule, .activity_address, .activity_min_number_of_participants,
 .activity_max_number_of_participants, .activity_min_age, .activity_title, .activity_description,
 .activity_category
{
  width: 100%;
}

// .activity_address {
//   width: 100%
// }

// .activity_min_number_of_participants {
//   width: 100%
// }

.correct-icone {
  width: 100px;
  display: flex;
  justify-content: left;
  // align-items: center;
  padding-left: 15px
}

.correct-icone-small {
  width: 50px;
  display: flex;
  justify-content: left;
  align-items: center;
}

.field {
  display: flex;
  align-self: flex-end;
  margin-top: 20px;
}

.correct-icone i {
  margin-top: auto;
  // margin-right: 40px;
  // font-size: 20px;
}

.correct-icone-small i {
  margin-top: auto;
  // margin-right: 40px;
  font-size: 30px;
}

.button_holder {
  margin-top: 60px;
  text-align: center;
}

// #new_activity .dark-blue-empty-button {
//   color: $dark-blue;
//   padding-top: 6px;
//   font-weight: bold;
// }

.simple_form .dark-blue-empty-button {
  // height: 50px;
  // width: 288px;
  border-radius: 8px;
  font-weight: bold;
  text-decoration: none;
  background-color: $dark-purple;
  text-align: center;
  box-shadow: 0px 2px 5px rgba(0,0,0,0.1);
  color: white;
  font-size: 18px;
  padding-bottom: 9px;
}

.simple_form .dark-blue-empty-button:hover {
  color: white;
  font-weight: bold;
  background-color: $dark-purple-hover;
}

// #new_activity .dark-blue-empty-button:hover {
//   color: white;
// }




