<h1>Pages#home</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<div class="top-banner">
  <div class="container">
    <h1><strong>Découvrez, réservez, have fun !</strong></h1>
    <H2>+ de 1000 activités... pour tous les goûts</p>
    <div class="search-bar">

    </div>
  </div>
</div>

<div class="numbers-banner">
  <div class="container">
    <div class="-number-partner">

    </div>
    <div class="number-activities">

    </div>
    <div class="number-reviews">

    </div>
  </div>
</div>

<div class="hp-categories">
  <div class="container">
    <h2>Top catégories</h2>
    <div class="hp-cards">
      <div class="hp-card">

      </div>
    </div>
    <a href="" class="button"></a>
  </div>
</div>

<div class="hp-categories">
  <div class="container">
    <h2>Les activitées du moment</h2>
    <div class="hp-cards">
      <div class="hp-card">

      </div>
    </div>
    <a href="" class="button"></a>
  </div>
</div>

<div class="footer">
  <div class="container">

  </div>
</div>




