<div class="top-banner">
  <div class="p-container">
    <h1><strong>Découvrez, réservez, have fun !</strong></h1>
    <H2>+ de 1000 activités... pour tous les goûts</p>
    <div class="search-bar">

    </div>
  </div>
</div>

<div class="numbers-banner">
  <div class="container">
    <div class="-number-partner">

    </div>
    <div class="number-activities">

    </div>
    <div class="number-reviews">

    </div>
  </div>
</div>

<div class="hp-categories">
  <div class="container">
    <h2>Top catégories</h2>
    <div class="hp-cards">
      <% @activities.each do |activity| %>
      <div class="hp-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
        <%= link_to activity.category, activities_path %>
      </div>
      <% end %>
    </div>
    <a href="" class="button"></a>
  </div>
</div>

<div class="hp-categories">
  <div class="container">
    <h2>Les activitées du moment</h2>
    <div class="hp-cards">
      <% @activities.each do |activity| %>
      <div class="hp-card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/lunch.jpg)">
        <%= link_to activity.title, activities_path %>
      </div>
      <% end %>
    </div>
    <a href="" class="button"></a>
  </div>
</div>

<div class="footer">
  <div class="container">

  </div>
</div>




