.main-box {
  display: flex;
  flex-direction: column;
}

.images {
  max-width: 100vw;
  height: 30vw;
  display:flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 25px;
  margin-right: 25px;
}

.image-box {
}

.img {
  height: 100vh;
  width: 100vh;
  max-width: 100%;
  max-height: 100%;
}

.main-img1{
  margin-right: 10px;
}

.main-img2 {
  margin-left: 10px;
}

.content-box {
  width: 65%;
}

.title-price-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title-price-box, .act-description, .info-box, .horaires {
  margin-bottom: 40px;
}

.horaires {
  // margin-bottom: 40px !important;
}

.price {
  color: $dark-blue;
}

.info-box {
  display: flex;
  justify-content: space-between;
}

.info {
  // background-color: $light-purple;
  padding: 10px;
  border-radius: 10px;
}

.booking-waranty-box {
  position: sticky;
  padding: 0px;
  top: 0px;
}

.total, .content-booking-box {
  display: flex;
  justify-content: space-between;
}

.total {
  width: 100%;
}

// .total-price {
//   color: $dark-purple;
// }

.total h6 {
  font-size: 27px;
  color: $dark-purple;
}

.sub-book, .total {
  margin-bottom: 20px;
}

.booking-box {
  background-color: white;
  border-radius: 10px;
}

.submit-btn {
  width: 100%;
  border-radius: 5px;
}

.one-map {
  height: 300px !important;
  margin: 0px !important;
}

.each-info-box {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 150px;
}

.each-logo {
  font-size: 30px;
  padding-bottom: 10px;
  color: $dark-blue;
}

.little-logo {
  color: $dark-blue;
}

.title-price-box #light-details {
  line-height: 0px;
}

.title-price-box h2 {
  font-size: 30px;
}

.info-box p {
  font-weight: 500;
}

.round{
  border-radius: 5px;
}

.act-description p {
  font-size: 16px;
  text-align: justify;
}

.fcolor {
  border: 1px solid $light-blue;
  box-shadow: 0 0 15px rgba(0,0,0,0.1);
  // position: fixed;
  // top: 0%;
  // z-index: 10000;
  // transform: translateX(2%);
}

// .stickyclass {
//   position: fixed;
//   left: 80%;
//   top: 14%;
//   height: 20vh;
//   z-index: 10000;
//   transform: translateX(-50%);
// }

.flatpickr-months .flatpickr-month {
  background: $light-purple !important;
}

.flatpickr-weekdays {
  background: $light-purple !important;
}

.flatpickr-current-month .flatpickr-monthDropdown-months {
  background: $light-purple !important;
  color: $dark-grey !important;
}

span.flatpickr-weekday {
  background: $light-purple !important;
}

// .flatpickr-current-month input.cur-year {
//   color: $dark-grey !important;
// }

// .numInputWrapper span.arrowDown {
//   color: $dark-grey !important;
// }

.flatpickr-month input {
  color: $dark-grey !important;
}

.flatpickr-month div {
  color: $dark-grey !important;
}

.flatpickr-month span {
  color: $dark-grey !important;
}

.flatpickr-month svg {
  color: $dark-grey !important;
}

.flatpickr-month select {
  color: $dark-grey !important;
}

.flatpickr-month option {
  color: $dark-grey !important;
}



