.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid $light-border;
  height: 90px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
}

.navbar-brand {
  border-radius: 50%;
  overflow:auto;
  width: 5vw;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-transparent {
  background: transparent;
  position: absolute;
  border-bottom: 0px solid ;
  width: 100%;
  .nav-link {
    color: white !important;
  }
}

.resa-btn {
  color: white;
  font-weight: bold;
  font-size: 18px;
}


// css navbar des tabs

#myTab {
  border: none;
}

#myTab li {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 2px solid $dark-grey;
  padding: 10px;
  color: $dark-blue;
}

.navbar-collapse {
  position: relative;
}

// .notif {
//   position: absolute;
//   z-index: 1;
//   height: 20px;
//   width: 20px;
//   border-radius: 20px;
//   background-color: #E11313;
//   color: white;
//   text-align: center;
//   font-weight: bold;
//   margin-left: 171px;
//   margin-top: -21px;
// }
