.navbar-lewagon {
  justify-content: space-between;
  background: white;
  border-bottom: 1px solid $light-border;
  height: 90px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 150px;
  margin-left: 30px;
}

.navbar-brand {
  border-radius: 50%;
  // overflow:auto;
  width: 5vw;
  height: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-transparent {
  background: transparent;
  position: absolute;
  border-bottom: 0px solid ;
  width: 100%;
  .nav-link {
    color: white !important;
  }
}

.resa-btn {
  color: white;
  font-weight: bold;
  font-size: 18px;
}


// css navbar des tabs

#myTab {
  border: none;
}

.navbar-collapse {
  position: relative;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
    color: white;
    background-color: $dark-blue;
    border-radius: 8px;
    font-weight: 500;

}
.marg {
  margin-top: 50px;
}


.nav-item a {
    color: $dark-blue;
    text-decoration: none;
}

.nav-tabs .nav-link {
    border: 0px solid $dark-blue;
    // border-bottom: 1px solid $dark-blue;
    &:hover {
      // background-color: $dark-purple;
      // border: 0px solid $dark-blue;
      // border-bottom: 1px solid $dark-blue;
    }
  }


// .nav-tabs .nav-item {
//   border-radius: 20px;
// }



// .notif {
//   position: absolute;
//   z-index: 1;
//   height: 20px;
//   width: 20px;
//   border-radius: 20px;
//   background-color: #E11313;
//   color: white;
//   text-align: center;
//   font-weight: bold;
//   margin-left: 171px;
//   margin-top: -21px;
// }
